<ion-view view-title="Lesson Plan">
    <ion-content>
        <div class="button-bar">
            <a class="button">Next</a>
            <a class="button">Completed</a>
            <a class="button">All</a>
        </div>
        <div class="list">
            <div ng-repeat="lesson in lessons">
                <a class="item item-icon-left" href="#">
                    {{lesson.name}}
                    <i class="ion-ios-circle-filled" ng-if="lesson.completed"></i>
                    <i class="ion-ios-circle-outline" ng-if="!lesson.completed"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>