<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">

    <!-- Invite Tab -->
    <ion-tab title="Invite" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/mentor/invite">
        <ion-nav-view name="mentor-invite"></ion-nav-view>
    </ion-tab>

    <!-- Courses Tab -->
    <ion-tab title="Courses" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/mentor/courses">
        <ion-nav-view name="mentor-courses"></ion-nav-view>
    </ion-tab>

    <!-- Favorites Tab -->
    <ion-tab title="Favorites" icon-off="ion-ios-star-outline" icon-on="ion-star" href="#/mentor/favorites">
        <ion-nav-view name="mentor-favorites"></ion-nav-view>
    </ion-tab>

    <!-- Stats Tab -->
    <ion-tab title="Stats" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/mentor/stats">
        <ion-nav-view name="mentor-stats"></ion-nav-view>
    </ion-tab>


</ion-tabs>
