<ion-view view-title="Quiz">
    <ion-content>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div ng-repeat="question in $ctrl.questions">
            <p>
                Question #{{$index + 1}}
            </p>
            <p>
                {{question.text}}
            <p>
            <form name="quiz">
                <div ng-repeat="answer in question.answers">
                    <ion-checkbox ng-model="$answer.chosen">{{answer.text}}</ion-checkbox>
                </div>
            </form>
            </p>
        </div>
        <div>
            <a class="button">
                Prev
                <i class="ion-arrow-left-a"></i>
            </a>
            <a class="button" href="#/UserMessages">
                Done
                <i class="ion-arrow-right-a"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
