<ion-view view-title="Read">
  <ion-nav-buttons side="primary">
    <a class="button" href="#/UserMessages">
      <i class="icon ion-chatboxes"></i> Back to chat
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <p>
        Knowing Jesus Christ is the most exciting relationship you can have. It is the beginning of a life of adventure with an all-loving, all-powerful God. If you have sincerely asked Christ to come into your life, you can be sure that your relationship with God is secure. As a result of Christ’s death on the cross, the only sufficient provision for a relationship with God, you have been completely forgiven and accepted by Him.
      </p>
      <p>
        There are many exciting things that are true in your relationship with Christ. Understanding these truths will help you build a firm foundation on which to grow. Spend some time reflecting on the questions asked in each section; the answers are listed at the end of this challenge.    </p>
      <p>
        1. CHRIST FORGAVE YOUR SINS
      </p>
      <p>
        “In Him we have redemption through His blood, the forgiveness of sins, in accordance with the riches of God’s grace…” (Ephesians 1:7).
      </p>
      <p>
        When you trusted Christ for the forgiveness of your sin, all your sins were forgiven… past, present and future. What difference do you think it makes to know that all of your sins have been forgiven?    </p>
      </p>
    </div>
    <div>
      <a class="button" ui-sref="tab.read.quiz">
        Next
        <i class="ion-arrow-right-a"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
