<ion-view view-title="Watch">
  <ion-content class="padding">
    <ion-list>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="https://player.vimeo.com/video/75800126" width="160" height="68" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <div>
      <a class="button" ui-sref="tab.watch.quiz">
        Next
        <i class="ion-arrow-right-a"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
